html {
   box-sizing: border-box;
}

*,
*::after,
*::before {
   box-sizing: inherit;
}

a {
   color: inherit;
   text-decoration: none;
}

ul {
   list-style-type: none;
}

body {
   display: flex;
   align-items: center;
   justify-content: center;
   min-height: 100vh;
   background-color: #fdfcdc;
}

.container {
   position: inherit;
   width: 500px;
   border: 1px solid #3F51B5;
   text-align: center;
   padding: 1rem;
   color: transparent;
   background: linear-gradient(90deg, #9575CD, #512DA8);
}

.container h2 {
   color: #FF4081;
}

.container span {
   color: #FFD700;
   text-shadow: 0 0 15px rgba(255, 215, 0, 0.75);
}

::placeholder {
   color: #212121;
}

.container input {
   position: relative;
   width: 100%;
   height: 50px;
   border: none;
   margin: 1rem 0 1rem;
   text-align: center;
   font-size: 20px;
   letter-spacing: 4px;
   border-radius: 15px;
   background-color: #F3E5F5;
}

.container button {
   position: relative;
   display: block;
   margin-inline: auto;
   background-color: #FFB74D;
   color: #fdfcdc;
   font-size: 1.2rem;
   padding: 10px 15px;
   border-radius: 20px;
   border: none;
   cursor: pointer;
}

.container button:active {
   transform: scale(0.95);
}

.container .lenght-content {
   margin-bottom: 1rem;
}

.container .lenght-content label {
   display: inline-block;
   background-image: linear-gradient(90deg, #C5CAE9, #B3E5FC);
   background-clip: text;
   color: transparent;
   font-weight: 700;
   font-size: 1.2rem;
   margin: 1rem 0;
}

.container select {
   padding: 0.5rem;
   font-size: 1.2rem;
   margin-left: 1rem;
   background-color: #f3e5f5;
   border: 1px solid #512da8;
   outline: none;
   color: #512DA8;
   border-radius: 5px;
}